.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-direction: column;
}

.con-in {
  background-color: rgba(17, 17, 17, 0.755);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 30px 0px;
}
.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
}
.container span {
  text-align: center;
  color: #fff;
  font-weight: 700;
}
.container span b {
  font-size: 20px;
}
.btn {
  margin-top: 20px;
}
.btn button {
  font-size: 1.5rem;
  border: 0;
  outline: 0;
  padding: 5px 30px;
  border-radius: 30px;
  color: #f40b0b;
  font-weight: bold;
}
/**konejknjdn*/
.text-container {
  display: flex;

  flex-direction: column;
}

.onday {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.onday span {
  font-family: "Courgette", cursive;
  color: white;
  text-align: center;
  display: inline-block;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.onday span:nth-child(1) {
  animation-delay: 0.05s;
}

.onday span:nth-child(2) {
  animation-delay: 0.1s;
}

.onday span:nth-child(3) {
  animation-delay: 0.15s;
  color: red;
}

.onday span:nth-child(4) {
  animation-delay: 0.2s;
  color: red;
}

.onday span:nth-child(5) {
  animation-delay: 0.25s;
  color: red;
}
.caption {
  background-color: #ffffffb7;
  padding: 0px 20px;
  border-radius: 20px;
}
.caption h4 {
  padding: 5px;
  font-weight: 700;
  letter-spacing: 5px;
  color: rgba(255, 0, 0, 0.825);
}
@media only screen and (max-width: 500px) {
  .con-in {
    width: 300px;
  }
}
@media only screen and (max-width: 340px) {
  .con-in {
    width: 250px;
  }
  .btn button {
    padding: 2px 25px;
  }
  .btn button a {
    font-size: 16px;
  }
}
