@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Courgette", cursive; */
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
.App {
  background-color: #f9dddd;
}
.backimages {
  background-image: url("./images/m-2.jpg");
  height: 80vh;
  background-origin: border-box;
  background-position: center;
  background-size: cover;
}
a {
  text-decoration: none;
  color: red;
}
@media only screen and (max-width: 340px) {
  .nav-link {
    font-size: 10px;
  }
  .logo {
    height: 25px;
  }
  .container h1 {
    font-size: 16px;
  }
  .caption h4 {
    font-size: 13px;
  }
  .con-in {
    width: 280px;
  }
}
@media only screen and (max-width: 290px) {
  .nav-link {
    font-size: 8px;
  }
  .logo {
    height: 20px;
  }
  .con-in {
    width: 250px;
  }
}
